:root{
    --bkg-card:hsl(0, 0%, 100%);
    --bkg-body:hsla(0, 100%, 98%, 0.952);
    --pri-text:hsl(212, 6%, 44%);
    --sec-text:hsl(234, 12%, 34%);
    --red-border:hsl(0, 78%, 62%);
    --cyan-border:hsl(180, 62%, 55%);
    --orange-border: hsl(34, 97%, 64%);
    --blue-border:hsl(212, 86%, 64%);

    --xsm-8px:0.5rem;
    --sm-15px:0.9375rem;
    --md-16px:1rem;
    --large-18px: 1.125rem;
    --large-32px: 2rem;
}
/*---------------reset------------------*/
*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:poppins;
    background-color:hsla(0, 100%, 98%, 0.952);
    font-size: var(--sm-15px);
    color:var(--pri-text);
    min-height: 100vh;

    display:flex;
    flex-direction:column;

}
/*---------------main------------------*/
main{
    width: 80%;
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/*---------------container------------------*/
#container{
    max-width: 1000px;
    width: 100%;
    padding: 1.5rem;


    display: flex;
    flex-direction:column;
    gap:2rem;
}

/*---------------container-header------------------*/
#container-header{
    width: 50%;
    align-self: center;

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;


}

/*---------------container-header contents------------------*/
#container-header h1,h2,p{
    text-align:center;
}
#container-header h2{
    color:var(--sec-text);
    font-size:2rem;
}

#container-header h1{
    font-size:2rem;
    font-weight:normal;
}

/*---------------grid-container------------------*/
#grid-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,300px);
    grid-template-rows:repeat(2,200px);
    place-content: center;
    gap:var(--large-18px);
}

.items{
    background-color:var(--bkg-card);
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0,0.08);
    padding: 1rem 1.5rem;


    display:flex;
    flex-direction:column;
    gap: 1rem;
}

.logo{
    width: 40px;
    height: 40px;
    align-self:flex-end;
}

.description{
    text-align:left;
}

.item-header{
    color:var(--sec-text);
}

#grid-container #item1{
    border-top: 2px solid var(--cyan-border);
    height: 200px;

}
#grid-container #item2{
    border-top: 2px solid var(--red-border);
}

#grid-container #item3{
    grid-column:2/3;
    border-top: 2px solid var(--orange-border);
}
#grid-container #item4{
    grid-column:3/4;
    border-top: 2px solid var(--blue-border);
    height: 200px;

}
#grid-container #item1,#item4{
    grid-row: 1/3;
    align-self:center;
}



/*-----------------footer-----------------*/

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}